#content{
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 200px;
    width: calc(100% - 250px);
    padding: 24px;
    border: 1px solid #dedede;
    height: -webkit-fill-available;
}
    

