#navbar{
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    }
    /* navbar menu */
    .navbar-menu{
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        cursor: pointer;
    }
        .navbar-menu .navbar-menu-icon {
            margin-left: 16px;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            background-image: url(../../content/img/toggle.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .navbar-menu .navbar-menu-logo {
            margin-left: 10px;
            width:calc(100% - 50px);
            height:24px;
            flex-shrink: 0;
            background-image: url('../../content/img/cukcuk-logo.png');
            background-size:contain;
            background-position: left;
            background-repeat: no-repeat;
        }
    /* navbar list */
    #navbar .navbar-list {
        margin: 0;
        padding: 0;
    }
        li{
            list-style-type: none;
        }
        .navbar-list .navbar-items{
            display: flex;
            align-items: center;
            height: 44px;
            padding: 0;
            text-decoration: none;
            color: black
        }

        .navbar-list .navbar-items:hover{
            background-color: #dedede;
            cursor: pointer;
        }

        .navbar-list .navbar-items:focus{
            background-color: #019160;
            color: #FFFFFF;
            
        }

            .navbar-items .navbar-items-logo {
                margin-left: 16px;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .navbar-items .navbar-items-text{
                margin-left: 10px;
                text-decoration: none;
            }


            
            /* Navbar logo*/
            .logo-sumary{
                background-image: url('../../content/icon/dashboard.png');
            }

            .logo-report {
                background-image: url('../../content/icon/report.png');
            }

            .logo-buy{
                background-image: url('../../content/icon/dashboard.png');
            }

            .logo-customer{
                background-image: url('../../content/icon/dic-employee.png');
            }
                
            .logo-customer-sum{
                background-image: url('../../content/icon/dic-employee.png');
            }

            .logo-setting{
                background-image: url('../../content/icon/setting.png');
            }
        


