.navbar {
    width: 226px;
    height: 100vh;
}

    .navbar .logo-box {
        width: 100%;
        display: flex;
        height: 48px;
        align-items: center;
        cursor: pointer;
    }

        .navbar .logo-box .toggle {
            margin-left: 16px;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            background-image: url('../../content/img/toggle.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: center;
        }

        .navbar .logo-box .logo-page {
            margin-left: 10px;
            height: 24px;
            flex-shrink: 0;
            background-image: url('../../content/img/cukcuk-logo.png');
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

    .navbar .navbar-content {
        width: 100%;
    }

    /*Nabar-item*/
    .navbar .navbar-item {
        display: flex;
        align-items: center;
        height: 44px;
        color: #000;
        ;
        /*background-color: #019160;*/
        cursor: pointer;
        text-decoration: none;
    }

        .navbar .navbar-item:focus {
            background-color: #019160;
            color: #ffffff;
        }

        .navbar .navbar-item:hover {
            background-color: #e5e5e5;
            color: #000;
        }

    .navbar .navbar-item-icon {
        margin-left: 16px;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .navbar .navbar-item-text {
        margin-left: 10px;
    }

.icon-dashboad {
    background-image: url('../../content/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../content/icon/report.png');
}

.icon-dictionary-employee {
    background-image: url('../../content/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../content/icon/setting.png');
}
