.content-customer{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}
.content-customer .content-customer-title{
    font-size: 24px;
    font-weight:bold;
}
.content-customer .content-customer-btn{
    position: absolute;
    display: flex;
    right: 24px;
}


.content-input{
    margin-top: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 42px;
}

.content-grid{
    position: absolute;
    right:  24px;
    left: 24px;
    bottom: 60px;
    top: 128px;
    width: 100%;
}
.content-grid .content-grid-table{
    width: fit-content;
    width: calc(100% - 50px);
    border: 0;
}

