.content-customer{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}
    .content-customer .content-customer-title{
        font-size: 18px;
        font-weight:bold;
        margin: 0;
    }
    .content-customer .content-customer-btn{
        position: absolute;
        display: flex;
        right: 24px;
    }

        .content-customer .content-customer-btn .content-customer-btn-text{
            padding-left: 40px;
            padding-right: 16px;
            background-image: url("../../content/icon/add.png");
            background-repeat: no-repeat;
            background-size: 16px;
            background-position-y: center;
            background-position-x: 16px;
        }

.content-input{
    margin-top: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
}
    .content-input .btn-refresh {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 24px;
        border: 1px solid #bbbbbb;
        background-color: #ffffff;
        cursor: pointer;
        outline: none;
        border-radius: 4px;
        background-image: url('../../content/icon/refresh.png');
        background-repeat:no-repeat;
        background-size: auto;
        background-position: center;
    }

    .content-input .btn-refresh:hover {
        background-color: #fff;
        border: 1px solid #01B075;
    }



.content-grid{
    position: absolute;
    right:  24px;
    left: 24px;
    bottom: 60px;
    top: 128px;
    overflow-y:auto;
    height: calc(100% - 192px);
}
.content-grid .content-grid-table{
    border: 0;
}

.hiden{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}