@import url('components/button.css');
@import url('components/input.css');
@import url('components/table.css');
@import url('components/icon.css');
@import url('components/subfooter.css');
@import url('components/dialog.css');




@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url('../content/font/GoogleSans-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../content/font/GoogleSans-Medium.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}

.text-red{
    color: red;
}

.bold {
    font-weight: bold;
}

.hiden-element{
    display: none;
}