.btn{
    display: inline-block;
    outline: none;
    border: none;
    padding-left: 23px;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    font-style: normal;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #2FBE8E;
}

.btn:active {
    background-color: #01B075;
 }





