.icon{
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: center;
    background-size: contain;
}

.icon-arrow{
    background-image: url('../../content/icon/angle.svg');
    width: 12px;
}

.icon-option{
    background-image: url('../../content/icon/option.png');
    width: 16px;
}

.icon-ava{
    background-image: url('../../content/icon/avatar-default.png');
    width: 24px;
}

.icon-add{
    background-image: url('../../content/icon/add.png');
    padding-left: 16px;
}

